<!-- BEGIN html -->
	<!-- #BEGIN home -->
		<div style="right-main">
			<center><a href="{avatar}" class="highslide" onclick="return hs.expand(this)"><img src="{avatar}" border="0" onload="HSImageResizer.createOn(this);"></a></center>
		<br>
		<div style="float: left; width: 230px; border: 1px solid #c0c0c0; border-right: 0px;">
			<div style="width: 230px; background-color: #eaeaea; text-align: center;"><font color="blue"><b>{lang.boy_love}</b></font></div>
			{boy}
		</div>
		<div style="float: left; width: 230px; border: 1px solid #c0c0c0;">
			<div style="width: 230px; background-color: #eaeaea; text-align: center;"><font color="red"><b>{lang.girl_love}</b></font></div>
			{girl}
		</div>
		</div>
	<!-- #END home -->
		
	<!-- #BEGIN about.info --><br>
		<center><img src="{avatar}" width="96"></center><br>
		<div style="padding-left: 10px;">
			{lang.fullname}: {name}<br>
			{lang.brithday}: {brithday}<br>
			yahoo: {yahoo}
		</div>
	<!-- #END about.info -->




<!-- END html -->