	<div class='right-page-main'>
		<!-- BEGIN page_block -->
		<!-- #BEGIN space_page -->
			<div class='right-page'>
					<div style='margin-top: 10px;'>
						..
					</div>
			</div>
		<!-- #END space_page -->
		<!-- #BEGIN current_page -->
		<div class='right-page'>
			<div class='right-page-now' style='padding-top: 10px;'>
					{page.NUMBER}
			</div>
		</div>
		<!-- #END current_page -->
		<!-- #BEGIN page_number -->
				<div class='right-page' onclick="{page.LINK}" title='Trang {page.NUMBER}'>
					<div style='margin-top: 10px;'>
							{page.NUMBER}
					</div>
				</div>
		<!-- #END page_number -->
	<!-- END page_block -->
	</div>